.main{
    background-color:aqua
}
.maindiv{
    width: 500px;
    height: 100px;
    align-content: center;
    align-items: center;
    
}
.button_about{
    width: "100px";
    height: "30px";
    margin:"15px";
    background-color:"Yellow";
    position:"absolute";
    border-radius:"5px";
    text-align:"center";
    left:"710px";
    vertical-align: "middle";
    float:"left";
    padding:"4px"
  };
.button_show_all {
    width: "100px";
    height: "30px";
    margin:"15px";
    left:"910px";
    background-color:"Green";
    position:"absolute";
    border-radius:"5px";
    text-align:"center";
    padding:"4px"
  };
.button_login{
    width: "100px";
    height: "30px";
    margin:"15px";
    left:"800px";
    background-color:"Blue";
    position:"absolute";
    border-radius:"5px";
    text-align:"center";
    padding:"4px"
  };
.button_contacts {
    width: "100px";
    height: "30px";
    margin:"15px";
    left:"400px";
    background-color:"Gray";
    position:"absolute";
    border-radius:"5px";
    text-align:"center";
    padding:"4px"
  };
.navbar {
    height:"50px";
    width: "100%" ;
    position:"absolute";
    align-content: "center";
    background-color:"blue";
    align-items: "center"
  };
  body {margin:0;}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  summary {
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  background: #444;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
details {
  max-width: 900px;
  min-width: 900px;
  box-sizing: border-box;
  margin-top: 1px;
  background: white;
}
details summary::-webkit-details-marker {
  display:none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}



.content {
  border-top: none;
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}

p {
  margin: 0;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ol {list-style-type: inherit;}

.namen{
  font-family: Verdana, sans-serif;
  font-size: 30px;
}
.all_clients
{
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
.contact_info
{
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
